* {
  overflow: hidden;
}

.sky {
  position: relative;
  background-color: rgb(119, 141, 241);
  height: 35vh;
  text-align: center;
}

.grass {
  background-color: rgb(29, 73, 29);
  height: 35vh;
}

.road {
  position: relative;
  background-color: grey;
  height: 30vh;
  box-sizing: border-box;
  border-top: 10px solid rgb(190, 189, 189);
  border-bottom: 10px solid rgb(190, 189, 189);
}

.lines {
  /* box-sizing: border-box; */
  border: 5px dashed whitesmoke;
  height: 0;
  width: 100vw;
  position: absolute;
  top: 45%;
}

.car_red {
  width: 12rem;
  position: absolute;
  bottom: 3rem;
  /* left: 2rem;
  animation-name: drive;
  animation-duration: 3s; */
  /* after animation end, stay at last state */
  /* animation-fill-mode: forwards; */
  /* position before animation ad after */
  /* animation-fill-mode: both; */
  /* animation-delay: 2s; */
  /* animation-iteration-count: 3; */
  /* animation-iteration-count: infinite;
  animation-timing-function: linear; */
  animation: drive 3s both infinite linear,
            jump 0.3s 1.2s ease;
}

@keyframes drive {
  from{ transform: translateX(-200px)}
  to{ transform: translateX(1000px)}
}

.car_yellow {
  width: 10rem;
  position: absolute;
  bottom: -2rem;
  left: 2rem;
  animation-name: drive;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.cloud {
  position: absolute;
  /* transform: translateX(200px); */
  /* transform: scale(2); */
  /* transform: rotateZ(90deg); */
  /* transition: transform 1s ease-out; */
  animation-name: drift;
  animation-fill-mode: both;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.cloud:nth-child(1) {
  width: 10%;
  top: 20px;
  right: 250px;
  opacity: 0.5;
  animation: drift 50s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 20%;
  top: 0;
  animation: drift 40s linear infinite reverse;
}

@keyframes drift {
  from{ left: -500px}
  to{ left: 100%}
}

/* .cloud:hover {
  transform: translateX(200px); 
} */

@keyframes jump {
  0%{bottom: 3rem}
  50%{bottom: 5rem}
  100%{bottom: 3rem}
}